$font-size: 10px;

.cascadegrid {
    width: 100%;
    min-width: 980px;
    border: 1px solid #eee;

    th {
        text-align: center;
        background: #eee;
    }

    th, td {
        padding: 5px;
        font-size: $font-size;
    }

    tbody > tr:not(.detail-row) {
        transition: .1s;
        &:hover {
            background: #f5f5f5;
            cursor: pointer;
        }
    }

    .detail-row {
        display: none;
        div {
            display: none;
        }

        th, td {
            padding-left: 10px;
            padding-right: 10px;
            font-size: $font-size - 2;
        }
    }

    .expander {
        padding-top: 7px;
        padding-bottom: 3px;
        text-align: center;

        span {
            transition: .4s;
        }

        &:hover {
            cursor: pointer;
            span {
                transform: rotate(360deg);
            }
        }
    }
}

.cascadegrid.single-head {
    .detail-row thead {
        display: none;
    }

    .detail-row>td {
        padding-left: 0;
        padding-right: 0;
    }
}

.cascadegrid.bordered {
    th, td {
        border: 1px solid #ddd;
    }
}

.cascadegrid-wrapper {
    margin: 0 auto;
    padding: 10px;
    width: 100%;    
    background: #959ca7;

    .scroller {
        max-height: 600px;
        max-width: 1180px;
        overflow-y: scroll;
        background: #fff;
    }
}