$font-size: 12px;
$grid-primary-bgcolor: #428bca;
$grid-success-bgcolor: #d6e9c6;
$grid-info-bgcolor: #bce8f1;
$grid-warning-bgcolor: #faebcc;
$grid-danger-bgcolor: #ebccd1;

@mixin grid-theme-color($bgcolor) {
    background: $bgcolor;
    color: darken($bgcolor, 65);
}

.cascadegrid {
    // width: 100%;
    width: 2500px;
    border: 1px solid #eee;

    th {
        text-align: center;
        background: #eee;
    }

    @at-root {
        #{&}.grid-primary th {
            background: $grid-primary-bgcolor;
            color: #fff;
        }
        #{&}.grid-success th {
            @include grid-theme-color($grid-success-bgcolor);
        }
        #{&}.grid-info th {
            @include grid-theme-color($grid-info-bgcolor);
        }
        #{&}.grid-warning th {
            @include grid-theme-color($grid-warning-bgcolor);
        }
        #{&}.grid-danger th {
            @include grid-theme-color($grid-danger-bgcolor);
        }

        #{&}.grid-single-head {
            .detail-row thead {
                display: none;
            }

            .detail-row>td {
                padding-left: 0;
                padding-right: 0;
            }
        }

        #{&}.grid-bordered {
            th, td {
                border: 1px solid #ddd;
            }
        }
    }

    th, td {
        padding: 5px;
        max-width: 300px;
        min-width: 80px;
        font-size: $font-size;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tbody > tr:not(.detail-row) {
        transition: .1s;
        &:hover {
            background: #f5f5f5;
            cursor: pointer;
        }
    }

    .detail-row {
        display: none;
        div {
            display: none;
            width: 100%;

            .cascadegrid {
                width: 100%;
            }
        }

        th, td {
            padding-left: 10px;
            padding-right: 10px;
            font-size: $font-size - 2;
        }
    }

    .expander {
        padding-top: 7px;
        padding-bottom: 3px;
        max-width: 30px;
        min-width: 30px;
        text-align: center;
    }

    td.expander {
        span {
            transition: .4s;
        }

        &:hover {
            cursor: pointer;
            span {
                transform: rotate(360deg);
            }
        }
    }
}

.cascadegrid-wrapper {
    margin: 0 auto;
    padding: 10px;
    width: 100%;    
    background: #959ca7;

    .scroller {
        max-height: 600px;
        max-width: 1180px;
        overflow: scroll;
        background: #fff;
    }
}